/* CSS Layout */

/* Background section*/
.page {
	background: #D2B48C;
            width:80%;
            margin: auto;
            padding:10px;}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*showcase section*/
.showcase {position: absolute;
		right: 0;
		width: 100%;
		margin: auto;
		min-height: 100vh;}
		padding: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #111;
		color: #fff;
		z-index: 2;
}

.showcase header {position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 40px 100px;
			z-index:1000;
			display: flex;
			align-items: center;
			justify-content: space-between;}



.showcase video {position: absolute;
			top: 0;
			left: 0;
			width:100%;
			height:  100%;
			object-fit: cover;
			opacity: 0.8;}


.overlay {position: absolute;
	   top:0;
	left:0;
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.5); 
	mix-blend-mode: overlay; }

.text {position: relative;
	z-index: 20;
}



/* cover section*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(brown.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;}

.logo{
    display: flex;
    margin: right;
    align-items: center;
    width: 200px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    /* padding-left: 3%; */
    /* padding-right: 3%; */
}


/*nav section*/

.nav-links{
    flex: 1;
    text-align: right;
}

nav ul{
    margin-block-start: 0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
}
nav ul li a{
    color: #CD5C5C;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: white;
    transition: .4s;
}
.btn{
    background-color: black;
    color: beige;
    text-decoration: none;
    border: 2px transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4;

}
.btn:hover{
    color: sienna;
    transform: scale(1.2)
}
.nav-links a.active{
    color:sienna;
}


/*container*/
.row{
    display: flex;
    min-height: 81vh;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr ;
}

.left_side{
    font-weight: 500;
}

.left_side h2{
    font-size: 30px;
   color: #A0522D;
text-shadow: 2px 1px;	
    padding: 30px 0;
}

.left_side h1{
    font-size: 50px;
      text-decoration-line: underline;
   color: #D2B48C;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 0px 0;
}

.left_side p{
    font-size: 20px;
   color: black;	
    padding: 30px 0;
}

.right_side img{
    height: 60%;
    width: 60%
}



/* Header section */
.main-header {background: (images/banner css.png);
                        background-position: right bottom, left top;
                        background-repeat: no-repeat, repeat;}



/* Navigation section */
.topnav { overflow: hidden;
               background-color: #333;}

.topnav a {  float: left;
  display: block;
  color: #D2B48C;
  text-align: center;
postion: -webkit-sticky
	position: sticky;
  padding: 14px 16px;
  text-decoration: none;}


.topnav a: hover {background-color: white;
			color:#333;}


.sticky { 
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #333;}


/* Main section */
main{ width:70%;
          margin: auto;
          align: center;
          float:left;}
h1 {color:brown;}
h2 {color:#A0522D;}
h4 {color: maroon;}

#id-span1 {color:yellow;}
#id-span2 {color:red;}
#id-span3 {color:green;}
#id-span4 {color:black;}
#id-span5 {color:white;}

.post:first-child > h1 {
  margin-top: 0.904em;
}

.post-photo {
  float: left;
  margin-bottom: 2px;
  margin-right: 20px;
  max-width: 60%;
}

.post-blurb {
  font-size: 1em;
  line-height: 1.5;
}


/* Sidebar section */
.sidebar {background-color: none;
               width:25%;
               align: justify;
               float:right;
	padding: 0.6%;}

h3 {color: maroon;}

.image2:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -transform: scale(1.2);
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}


/* Footer section */
.main-footer { background-color: none;
		text-align:center;
                      padding: 10px;
                       clear:both;}

